django==4.1.7
djangorestframework~=3.13.0
requests~=2.31.0
torch~=2.1.0
numpy~=1.24.4
opencv-python~=4.8.1.78
supervision~=0.16.0
ultralytics~=8.0.199
django-import-export
pyttsx3==2.90
django-sslserver==0.22
dill==0.3.7