<!DOCTYPE html>
<html>
<head>
    <title>Page de départ</title>
    <style>
        body {
            background-color: blue;
            text-align: center;
        }
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .start-button {
            background-color: white;
            color: blue;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="centered">
        <button class="start-button" href="{% url 'video' %}">Start</button>
    </div>
</body>
</html>
